<div>
  <p>{{oneMovie.title}}</p>
  <p>{{oneMovie.cast}}</p>
  <p>{{oneMovie.plot}}</p>

  <a href="/movies/{{oneMovie._id}}/delete">Delete</a>
  <a href="/movies/{{oneMovie._id}}/update">Update</a>
</div>